body {
  font-family: 微软雅黑;
  padding-top: 0px;
  padding-bottom: 50px;
}

.header {
  padding: 40px 15px;
  text-align: center;
  border-bottom:1px solid #e0e0e0
}

.pannel {
}

.content {
  text-align: center;
  border: 10px;
  padding-top: 10px;
  padding-bottom: 50px;
}

.content :after {
  clear:both;
  content:'.';
  display:block;
  width: 0;
  height: 0;
  visibility:hidden;
} 

.content .box{
  display:block;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
  max-width:1000px;
  max-height:auto;
  margin-bottom:10px;
  margin-top:40px;
  border-radius:0;
  border-bottom:1px solid #e0e0e0
}
.content .box .caption{
  float:left;
  width:70%;
  height:auto
}
.content .box .caption .line{
  height:50%; 
  max-width:auto
}
.content .box .caption .line :after{
  clear:both;
  display:block;
  visibility:hidden;
}
.content .box .caption .line .f{
  width:70%; 
  height:100%; 
  text-align:left; 
  float:left; 
  padding-right:5px;
}
.content .box .caption .line .f h3,h4,h5{
  color: black; 
  float:left;
}
.content .box .caption .line .b{
  width:30%; 
  height:auto; 
  text-align:right; 
  float:left;
}
.content .box .iconpic{
  float:left;
  max-width:30%;
  height:auto;
}
.content .box .iconpic img{
  max-width:100%;
  height:auto;
  float:left
}

.form-course{
  max-width:380px;
  padding: 15px;
  margin: 0px auto;
}
.form-course .form-course-heading,
.form-course .checkbox {
  margin-bottom: 10px;
}
.form-course .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-course .form-control:focus {
  z-index: 2;
}
.form-course input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-course input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.form-course input[type="text"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.form-course input[type="date"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.form-course input [type="submit"] {
  margin-top: 10px;
}
.form-course textarea {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.detail-head{
  max-height:200px;
  padding:0px auto;
}

.user-inform{
  text-align:center;
  max-width:900px;
  margin: auto;
  padding-bottom:50px;
  padding-left:20px;
  padding-right:20px;
}

.schedule{
  max-width:600px;
  background-color:#f5f5f5;
}
.progress-bar-spare{
  background-color:#f5f5f5;
  -webkit-box-shadow:inset 0 0px 0 rgba(0,0,0,.15);box-shadow:inset 0 0px 0 rgba(0,0,0,.15);
}
.progress-bar-wanted{
  background-color:#5cb85c;
}
.progress-bar-ordered{
  background-color:#337ab7;
}

.date-sign{
  text-align:right;
  max-width:120px;
  margin:0px;
  border-right:1px solid #e0e0e0;
}
.date-sign .day{
   margin-bottom:20px;
}

.page-header h1,h2 {
  text-align:left;
  margin:20px;
  padding:20px;
}

.coach-info {
	max-width:300px;
	margin:20px;
	border:1px solid #e0e0e0;
}

.res-box{
  text-align:center;
  margin-bottom:40px;
}

.res-list{
  text-align:center;
  margin:auto;
  margin-top:15px;
  padding-left:10px;
  padding-top:10px;
  max-width:600px;
  height:auto;
  max-height:120px;
  overflow:hidden;
  border-bottom:1px solid #e0e0e0;
}

.res-list:hover{
  border:1px solid #3366CC;
}

.res-list:after{
  clear:both;
  display:block;
  visibility:hidden;
}

.res-content{
  border-top:1px solid #e0e0e0;
  padding:10px;
}

.restitle{
  float:left;
  width:46%;
  height:100px;
  text-align:left;
}

.restitle h3{
  margin-left:10px;
}

.restitle p{
  padding-top:10px;
  padding-left:20px;
  margin:0px;
}

.ressports, .resprice{
  float:left;
  width:18%;
  text-align:center;
  margin-top:30px;
  height:70px;
}

div .ressports span, div .resprice span{
  vertical-align:middle;
}

.receive{
  float:left;
  width:18%;
  heigth:70px;
  margin-top:25px;
  text-align:center;
}

div .ressports, div .resprice div .receive{
  vertical-align:middle;
}

div .receive button{
  margin-top:0px;
}

th {
  text-align:center;
}

div .disqus_div {
	padding-left:40px;
	padding-right:40px;
	margin-top:100px;
	margin-left:20px;
	margin-right:20px;
}

.positionfix{
	position:fixed; 
	bottom:30px; 
	width:100%
}


.section-wrap{ width:100%;height:100%;overflow:visible;transition:transform 1s cubic-bezier(0.86,0,0.03,1);-webkit-transition:-webkit-transform 1s cubic-bezier(0.86,0,0.03,1);}
	.section-wrap .section{ position:relative; width:100%; height:100%; background-position:center center; background-repeat:no-repeat;}
	.section-wrap .section .title{width:100%;position:absolute;top:10%;color:#fff;font-size:2.4em;text-align:center;}
	.section-wrap .section .title p{ padding:0 4%;opacity:0}
	.section-wrap .section .title.active .tit{ opacity:1;transform:translateY(-25px);-webkit-transform:translateY(-25px);transition:all 2s cubic-bezier(0.86,0,0.8,1);-webkit-transition:all 2s cubic-bezier(0.86,0,0.8,1);}
	.section-wrap .section-1{}
	.section-wrap .section-2{}
	.section-wrap .section-3{}
	.section-wrap .section-4{}
	.section-wrap .section-5{}
	.put-section-0{ transform:translateY(0);-webkit-transform:translateY(0);}
	.put-section-1{ transform:translateY(-100%);-webkit-transform:translateY(-100%);}
	.put-section-2{ transform:translateY(-200%);-webkit-transform:translateY(-200%);}
	.put-section-3{ transform:translateY(-300%);-webkit-transform:translateY(-300%);}
	.put-section-4{ transform:translateY(-400%);-webkit-transform:translateY(-400%);}
	.section-btn{ width:14px;position:fixed;right:4%;top:50%;}
	.section-btn li{ width:14px;height:14px;cursor:pointer;text-indent:-9999px;border-radius:50%;-webkit-border-radius:50%;margin-bottom:12px; background:#BD362F;text-align:center; color:#fff; onsor:pointer;}
	.section-btn li.on{ background:#fff}
	.arrow{ opacity:1;animation:arrow 3s cubic-bezier(0.5,0,0.1,1) infinite;-webkit-animation:arrow 3s cubic-bezier(0.5,0,0.1,1) infinite;transform:rotate(-90deg);-webkit-transform:rotate(-90deg); position:absolute;bottom:10px;left:50%;margin-left:-30px;width:60px;height:60px;border-radius:100%;-webkit-border-radius:100%;line-height:60px;text-align:center;font-size:20px;color:#fff;border:1px solid #fff;cursor:pointer;overflow:hidden;}
	.arrow:hover{ animation-play-state:paused;-webkit-animation-play-state:paused;}
	@keyframes arrow{ %0,%100{bottom:10px; opacity:1;} 50%{bottom:50px; opacity:.5} }
	@-webkit-keyframes arrow{ %0,%100{bottom:10px; opacity:1;} 50%{bottom:50px; opacity:.5} }

.upload {
	margin-bottom:40px;
}

